<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 	 <settings>
         <setting name="cacheEnabled" value="true"/>
		 <setting name="logImpl" value="LOG4J"/>
     </settings> -->
	
	<typeAliases>
 		<typeAlias alias="User" type="com.qjk.data.User"/>
 		<typeAlias alias="UserOption" type="com.qjk.data.UserOption"/>
 		<typeAlias alias="Sms" type="com.qjk.data.Sms"/>
	</typeAliases>
	
	<!-- 指定映射文件-->
	<mappers>
		<mapper resource="com/qjk/dao/sqlmap/user-sqlmap-mapping.xml"></mapper>
		<mapper resource="com/qjk/dao/sqlmap/useroption-sqlmap-mapping.xml"></mapper>
		<mapper resource="com/qjk/dao/sqlmap/sms-sqlmap-mapping.xml"></mapper>
	</mappers> 
</configuration>