<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 	 <settings>
         <setting name="cacheEnabled" value="true"/>
		 <setting name="logImpl" value="LOG4J"/>
     </settings> -->
	
	<typeAliases>
 		<typeAlias alias="User" type="com.qjk.data.User"/>
 		<typeAlias alias="UserOptions" type="com.qjk.data.UserOptions"/>
<!-- 	<typeAlias alias="MoodVo" type="com.qjk.entiy.MoodVo"/>
		<typeAlias alias="Article" type="com.qjk.entiy.Article"/>
		<typeAlias alias="ArticleVo" type="com.qjk.entiy.ArticleVo"/>
		<typeAlias alias="Counter" type="com.qjk.entiy.Counter"/> -->
	</typeAliases>
	
	<!-- 指定映射文件-->
	<mappers>
	<mapper resource="com/qjk/dao/sqlmap/user-sqlmap-mapping.xml"></mapper>
	</mappers> 
</configuration>