.slider {  
	width: 100%; 
	height: 360px; 
	overflow: hidden; 
	min-width: 1100px; 
	position: relative;
}
.slider_box{
	width:100%;
	position: absolute; 
	 left: 0; 
	 bottom: 17px;
	 z-index:2;
}
.slider .slider_item { 
	width: 100%; 
	position: absolute; 
	left: 0; 
	top: 0; 
	overflow: hidden; 
	height: 100%; 
	z-index: 1; 
}
.slider .slider_item li { 
	width: 100%; 
	height: 100%;
}
.slider .slider_item li a{
	display:inline-block; 
	width:100%; 
	height:100%;
}

.slider .slider_index {
	 width:1100px;
	 margin:0 auto;
	 text-align: right; 
	 font-size: 0; 
	 z-index: 2; 
	}
.slider .slider_index li { 
	text-indent: -99999px; 
	border:2px solid rgba(255,255,255,0.8);
	height: 6px;
	overflow:hidden;
	line-height:3;
	width: 6px; 
	display: inline-block; 
	margin: 0 2px; 
	/*-webkit-border-radius: 100%; 
	-moz-border-radius: 100%; 
	-ms-border-radius: 100%; 
	-o-border-radius: 100%; 
	border-radius: 100%;*/ 
	cursor: pointer; 
}
.slider .slider_index li.on { 
	border: 2px solid #26bfc1;
}

.slider .prev, .slider .next { 
	display:inline-block; 
	background: url(../img/slide_direction.png) 0 0 no-repeat;
	width: 22px; 
	
	height: 42px; 
	z-index: 3; 
	position: absolute; 
	cursor: pointer; 
	top: 50%; 
	margin-top: -21px; 
}
.slider .prev { 
	left: 100px; 
	background-position: 0 0;
	 }
.slider .prev:hover { 
	left: 100px; 
	background-position: -22px 0; 
	}
.slider .next { 
	right: 100px; 
	background-position: -66px 0; 
}
.slider .next:hover { 
	right: 100px; 
	background-position: -44px 0; 
}

.pageState{
	position:absolute;
	bottom:20px;
	left:50%;
	margin-left:550px;
	z-index:1000;
	width:49px;
	height:23px;
	display:block;
	background:url(../img/banner_page_bg.png) no-repeat center center;
	line-height:23px;
	color:#fff;
	font-size:16px;
	padding-left:3px;
}