@CHARSET "UTF-8";

body {
	padding: 0px;
	margin: 0px;
}

a {
	text-decoration: none;
	font-size: 14px;
	color: #35ac3e;
	padding: 0px 4px;
	display: inline-block;
	line-height: 16px;
}

a:hover {
	color: #39c543;
}

table {
	table-layout: auto;
	border-collapse: collapse;
	border-spacing: 0px;
	width: 100%;
}


table td {
	vertical-align: top;
	padding: 12px;
}

ul {
	
}

ul li {
	
}

ul li a {
	display: block;
	padding: 4px;
	font-size: 14px;
	color: #333;
}

ul li a:hover {
	color: #39c543;
}

ul li a.selected {
	color: #35ac3e;
}

table.api {
	table-layout: auto;
	border-collapse: collapse;
	border-spacing: 0px;
	border: solid 1px #dfe5e8;
	margin-bottom: 20px;
}

table.api thead {
	background-color: #f3f5f7;
}

table.api thead td {
	padding: 12px 0 12px 8px;
	font-size: 14px;
	color: #69717c;
	border-right: 1px solid #eee;
}

table.api tbody td {
	padding: 12px 6px;
	font-size: 14px;
	color: #69717c;
	border: solid 1px #f4f4f4;
}

table.api tbody th {
	padding: 12px 6px;
	font-size: 14px;
	color: #69717c;
	border: solid 1px #f4f4f4;
	text-align: left;
}
