/*
 *张展
 *2015-10-16
 *订单支付
 */
@charset "utf-8";


.pay_detail{
	padding:20px 0 15px;
	margin-bottom:25px;
	border-bottom:1px dashed #e7e7e7;
}
.pay_detail_item{
	overflow:hidden;
	position:relative;
}
.pay_detail_item label{
	color:#999;
	font-size:16px;
	line-height:40px;
}
.pay_detail_item span{
	color:#333;
	font-size:16px;
	line-height:40px;
}
.pay_detail_item .right{
	float:right;
	font-size:16px;
	position:absolute;
	top:-9px;
	right:0;
}
.pay_detail_item .right em{
	font-size:35px;
	color:#26bfc1;
}
.pay_detail_item a.cur{
	float:right;
	padding-right:22px;
	font-size:16px;
	color:#26bfc1;
	background:url(../../img/order_pay_down.png) no-repeat;
	background-position:68px -46px;
	margin-top:10px;
}
.pay_detail_item a.selected{
	background-position:68px 4px;
}
.order_detail_box{
	width:1060px;
	padding:10px 20px;
	background:#f2f2f2;
	margin:5px 0 15px;
	display:none;
}
.order_detail_box p{
	overflow:hidden;
	position:relative;
}
.order_detail_box label{
	position:absolute;
	line-height:26px;
	color:#999;
	top:0;
	left:0;
	font-size:14px;
}
.order_detail_box span{
	line-height:26px;
	margin-left:80px;
	display:block;
	font-size:14px;
}
.pay_ways{
	padding-bottom:160px;
}
.pay_ways h2{
	font-size:16px;
}
.pay_ways_item{
	overflow:hidden;
	padding-top:30px;
	position:relative;
}
.pay_ways_item label{
	float:left;
	width:120px;
	height:60px;
	line-height:60px;
	font-size:14px;
}
.pay_ways_item .pay_bank_img{
	width:228px;
	height:58px;
	line-height:58px;
	text-align:center;
	float:left;
	border:1px solid #e7e7e7;
	position:relative;
	font-size:16px;
}
.pay_ways_item .pay_bank_img img{
	width:100%;
}
.pay_ways_item .pay_bank_img em{
	color:#ff9933;
	padding:0 3px;
}
.pay_ways_item i{
	width:24px;
	height:24px;
	display:none;
	position:absolute;
	right:0;
	bottom:0;
	background:url(../../img/pay_selcted.png) no-repeat;
}
.pay_ways_item .selected{
	border:1px solid #26bfc1;
}
.pay_ways_item .selected i{
	display:block;	
}
.pay_ways_item span{
	float:left;
	margin-left:20px;
	width:225px;
	height:44px;
	line-height:22px;
	color:#999;
	font-size:14px;
	padding:8px 0;
}
.pay_ways_item span a{
	color:#26bfc1;
	padding:0 3px;
}
.pay_ways_tip{
	width:940px;
	margin:20px 0 0 120px;
	padding:10px 19px;
	border:1px solid #26bfc1;
	line-height:22px;
	color:#26bfc1;
	font-size:14px;
	background-color:#ddf4f4;
}
.pay_bank_list{
	float:left;
	overflow:hidden;
	margin-left:120px;
	width:1000px;
}
.pay_bank_list ul li{
	width:228px;
	height:58px;
	float:left;
	margin:0 20px 18px 0;
	position:relative;
	border:1px solid #e7e7e7;
}
.pay_ways_item label.l_list{
	width:120px;
	height:60px;
	line-height:60px;
	font-size:14px;
	position:absolute;
	top:29px;
	left:0;
}

/**支付弹窗**/
.pop_content h2{
	margin-top:74px;
}
.pop_content .pay_wd{
	text-align:center;
	letter-spacing:2em;
	margin-top:20px;
	width:320px;
	padding-left:0;
}
.pop_content .Confirm{
	margin-top:53px;
	width:198px;
}
.pop_content a.form_btn{
	margin:63px 10px 0;
}

/** 微信支付 **/
.weixin_pay_bg{
	width:130px;
	height:130px;
	padding:13px;
	display:block;
	overflow:hidden;
	margin:60px auto 22px;
	background:url(../../img/weixin_pay_bg.png) no-repeat center center;
}
.weixin_pay_bg img{
	width:100%;
}
.weixin_pay_txt{
	height:31px;
	line-height:31px;
	padding-left:22px;
	background:url(../../img/weixin_pay_icon.png) no-repeat 135px 0;
	font-size:16px;
}